.NavBar {
  margin: 0;
  background-color: whitesmoke;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Item{
  display: flex;
  align-items: center;
}

.Item button{
  height: 20px;
}

.NavBar a{
  color: black;
}