body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.listCurrency {
  position: absolute;
  top: 10px;
  right: -15px;
  visibility: hidden;
  transition: all 250ms ease-in-out;
  opacity: 0;
  z-index: 999;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.listCurrency.hide {
  transform: translateY(40px);
  opacity: 1;
  visibility: visible;
}
