.SelectValue {
  padding: 10px;
  background-color: beige;
  position: relative;

}

.SelectValue p {
  margin: 0;

}

.List {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 40px;
  border: 1px solid black;
  background-color: azure;
 
}
